.conteudo{
  display: flex;
  flex-direction: column;
  background: none;
  color:#5a5a5a ;
  align-items: flex-end;
}
.conteudo h1{
  font-size: 2rem;
  text-align: end;
  width: 21rem;
}
.conteudo p{
  width: 30rem;
  font-size: 1.15rem;
  text-align: end;
  margin-top: 20px;
}
.conteudo-1{
  order: 2;
  align-items:start;
}
.conteudo-1 p{
  text-align: start;
}
.cardapio{
  position: relative;
}
.cardapio h2{
  text-align: center;
  font-size: 4rem;
  position: absolute;
  width:15rem;
  line-height: 3rem;
  margin-top: 20px;
  top: 0px;
  left: 42%;
  right: 42%;
  color: #fff;
  text-shadow: 2px 2px black;
  z-index: 1;
}
.carousel-caption{
  font-size: 1rem;
  text-shadow: 2px 2px black;
  border-radius:0px;
  padding: 100px;
}
.carousel-caption h3{ 
  font-size: 2rem;
}
.carousel-caption span{
  font-size: 1.9rem;
  font-weight: bold;
}
section.container-principal{
  background: white;
}
.carousel{
  width: 70vw;
  margin: 0 auto;
}
.carousel-control-prev{
  background: rgba(0, 0, 0, 0.5);
}
.carousel-control-next{
  background: rgba(0, 0, 0, 0.5);
}
.conteudo-contato{
  display: flex;
  flex-direction: column;
  background: none;
  color:#5a5a5a ;
  align-items: center;
  padding: 20px;
}
.conteudo-contato h2{
  text-align: end;
  /*width: 30rem;*/
  text-align: center;
  margin-bottom: 10px;
}
.conteudo-contato p{
  width: 30rem;
  font-size: 1.15rem;
  text-align: start;
}
.texto-contato{
  font-size: 1.15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
